form {

    border: 1px solid #333;
    border-radius: 8px;
    padding: 2rem 1rem;
    max-width: 360px;
    margin: 4rem auto;
    gap: 6px;

}

.input-container {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 1rem;
}

input {
    padding: 12px 1rem;
    background: #d8d7d7;
    border: none;
    border-radius: 8px;
    outline: none;
}